In [19]:
import json
import pandas as pd
from useful_functions import get_opsea_trans_by_collec, extract_asset_events, combine_json_files, get_traits_collection, get_nft_traits

### 0. Parameter Specification

In [ ]:
data = "boredapeyachtclub, mutant-ape-yacht-club, bored-ape-kennel-club"

words = data.split(',')  # Returns a list
collection_list = ['' + word.strip() + '' for word in words]  # I split it at , and then append to the list
after = '2020-01-01 01:00:00'  # 1st of January 2020 01:00:00 am
before = '2023-12-01 01:00:00'  # 1st of December 2023 01:00:00 am
event_type = 'sale'  # Other types: all, cancel, redemption, transfer

### 1. Downloading transactions

In [ ]:
for collection in collection_list:
    get_opsea_trans_by_collec(collection, before, after, event_type, collection)

### 2. Combine the JSON files fo transactions into one

In [ ]:
# Combine the JSON files into one
combine_json_files(collection_list, 'combined_transactions')

### 3. Add to a dataframe

In [ ]:
with open('Transaction_files/combined_transactions.json') as z:
    trans_3years = json.load(z)

In [ ]:
# Extract list of transactions from transaction blocks and append to a list
list_of_transactions_clean = extract_asset_events(trans_3years)

In [ ]:
df = pd.json_normalize(list_of_transactions_clean)
df.head()  # 28 columns

### 4. Number of unique NFTs

In [ ]:
df["nft.metadata_url"].nunique(), df["nft.identifier"].nunique()

### 5. Extracting traits from metadata_url for every transaction

In [20]:
# Get DataFrame with added nft.traits column
df_test = get_nft_traits(df)

In [21]:
df_test

,event_type,order_hash,chain,protocol_address,closing_date,quantity,seller,buyer,transaction,event_timestamp,...,nft.updated_at,nft.is_disabled,nft.is_nsfw,payment.quantity,payment.token_address,payment.decimals,payment.symbol,nft,payment,nft.traits
0,sale,,ethereum,,1701390995,1,0xa1bf766e566c06214fb47b9c904abe30241dd169,0x9afef7dac35f070dc3976f0597b8c872f6b19d1d,0x454bdec62afebc65fec573f4a6a0ac606f3bb903f98b...,1701390995,...,2024-01-31T04:52:58.986817,False,False,5470000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18.0,WETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'M1 Gra..."
1,sale,0x0212be13a51073ecbc646121ca52f6e165b3186bd68c...,ethereum,0x00000000000000adc04c56bf30ac9d3c0aaf14dc,1701387335,1,0xbad6f3f82774b9bcb6306cfd0a057cd97e19537a,0xc581fb52dd9fa6ff22f5cf4d39a9a3cedd88c320,0x92790770deece651a5cfd8aebde1bf6ade02addceb36...,1701387335,...,2024-02-20T03:05:37.763086,False,False,5640000000000000000,0x0000000000000000000000000000000000000000,18.0,ETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'M1 Arm..."
2,sale,,ethereum,,1701385463,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x9afef7dac35f070dc3976f0597b8c872f6b19d1d,0xe535a3cd666eda46c1177ffa105113d7db94f16fd53c...,1701385463,...,2024-01-23T21:32:52.085494,False,False,5470000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18.0,WETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'M1 Aqu..."
3,sale,,ethereum,,1701383255,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x9afef7dac35f070dc3976f0597b8c872f6b19d1d,0xc42f9f6361bec8725583a69003ed719af712026bec1a...,1701383255,...,2024-02-24T14:46:13.408259,False,False,5470000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18.0,WETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'M1 Arm..."
4,sale,,ethereum,,1701383243,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x9afef7dac35f070dc3976f0597b8c872f6b19d1d,0xb8c73a3969be361c5636c7f1eb7106429651ba6d14c3...,1701383243,...,2024-02-15T00:00:37.770995,False,False,5470000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18.0,WETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'M1 Ora..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,sale,,ethereum,,1700963327,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x7df70b612040c682d1cb2e32017446e230fcd747,0x5586162846e1b2083acdab4ec5e126bf17e232abdc76...,1700963327,...,2024-03-01T19:28:26.910412,True,False,5800000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18.0,WETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'M1 Arm..."
996,sale,,ethereum,,1700963327,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x7df70b612040c682d1cb2e32017446e230fcd747,0x3ba3e6a800aa2a08ad845583eebe112f4227b657f429...,1700963327,...,2024-02-29T14:54:15.737037,False,False,5800000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18.0,WETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'M1 Blu..."
997,sale,,ethereum,,1700963327,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x7df70b612040c682d1cb2e32017446e230fcd747,0xca05fa56a1a34c8ae4dbbc97713b0a2dabbd28c43ccb...,1700963327,...,2024-02-07T14:32:37.770910,False,False,5800000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18.0,WETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'M1 Yel..."
998,sale,,ethereum,,1700963327,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x7df70b612040c682d1cb2e32017446e230fcd747,0xa89a142f8346cd318130037bb8cdf91eeead5cfe7603...,1700963327,...,2024-02-07T14:33:38.893576,False,False,5800000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18.0,WETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'M1 Arm..."
999,sale,,ethereum,,1700963315,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x7df70b612040c682d1cb2e32017446e230fcd747,0x940c2953e4c8003211a311d7471f54a69b05b8a4c898...,1700963315,...,2024-02-27T04:48:25.734663,False,False,5800000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18.0,WETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'M1 Ora..."

### 6. Getting traits statistics for a collection

In [3]:
for collection in collection_list:
    get_traits_collection(collection)

In [4]:
with open('Collection_traits/bored-ape-kennel-club_traits.json') as z:
    traits_bakc = json.load(z)

In [21]:
traits_bakc.keys()

dict_keys(['categories', 'counts'])

In [22]:
traits_bakc["counts"]

{'Background': {'Outhouse': 2413,
  'SS Monke Biz': 2337,
  'Swamp': 2426,
  'Club Exterior': 1640,
  'Bar': 786},
 'Fur': {'Radioactive': 188,
  'Brown': 1522,
  'Tan': 2325,
  'Robot': 383,
  'Black': 1568,
  'Zombie': 390,
  'Noise': 181,
  'Pink': 1008,
  'Death Bot': 261,
  'Galaxy': 221,
  'Mega Death Bot': 171,
  'Cheetah': 611,
  'Cyberpunk': 271,
  'Trippy': 110,
  'DMT': 294,
  'Solid Gold': 98},
 'Neck': {'Japan Bandana': 110,
  'Christmas Wreath': 181,
  'Plaid Bowtie': 197,
  'BAYC Collar': 907,
  'Glow Necklace': 168,
  'Red BAYC Bandana': 55,
  'Whiskey Barrel': 84,
  'Camo Bandana': 117,
  'Pink Collar': 281,
  'Spiked Collar': 134,
  'Pinstripe Bandana': 180,
  'Red Collar With Bone': 260,
  'Life Preserver': 143,
  'Ribbon': 165,
  'Black BAYC Bandana': 129,
  'Hawaiian Bandana': 221,
  'Beer Can Necklace': 199,
  'Lei': 85,
  'Golden Bone Necklace': 197,
  'Flamingo Bandana': 114,
  'Gold Links': 178,
  'USA Bandana': 97,
  'Japanese Bandana': 92},
 'Mouth': {'Hot Dog': 471,
  'Bone': 298,
  'Smiling': 1774,
  'Diamond Teeth': 120,
  'Cigar': 188,
  'Beer Can': 300,
  'Slippers': 260,
  'Frog Legs': 262,
  'Tennis Ball': 265,
  'Golden Hot Dog': 83,
  'Drooling': 199,
  'Growl': 210,
  'Ape Hand': 284,
  'Cyberjaw': 249,
  'Kazoo': 164,
  'Goofball': 370,
  'Foaming': 180,
  'Gold Teeth': 137,
  'Red Raybeam': 108,
  'Rainbow Teeth': 134,
  'Rose': 245,
  'Fish': 307,
  'Loogie': 204,
  'Bored': 350,
  'Cigarette': 233,
  'Cute Smile': 303,
  'Confused': 205,
  'Happy': 221,
  'Bubblegum': 120,
  'Bloody': 315,
  'Heavy Drooling': 190,
  'Blep': 178,
  'Stache': 172,
  'Bloody Fangs': 181,
  'Panting': 201,
  'Fire Breath': 121},
 'Eyes': {'Happy': 1296,
  'Hypnotized': 180,
  'Hero Mask': 132,
  'Cyberpunk Visor': 110,
  'X Eyes': 193,
  'Pilot Goggles': 189,
  'Closed': 1694,
  'Mystic Eye': 154,
  'Bloodshot': 339,
  'Confused': 310,
  'Zombie': 236,
  'Heart Eyes': 304,
  'Shutter Shades': 192,
  'Whatever': 355,
  'Suspicious': 351,
  'Sunglasses': 302,
  'Cyborg': 68,
  'Radioactive': 170,
  'Anime': 395,
  'Sad': 389,
  'Goofy': 365,
  'Angry': 323,
  'Wide': 337,
  'Holographic Visor': 114,
  'Laser': 72,
  'Robot': 238,
  'Cyberware': 68,
  'Glowing Red': 147,
  '3D Glasses': 306,
  'Blue Beams': 64,
  'Snorkel Gear': 93,
  'Cyclops': 116},
 'Head': {'Pimp Hat': 69,
  'Rat': 131,
  'Beer Helmet': 160,
  'Purple Headband': 196,
  'White Headband': 219,
  'Bow': 266,
  'Missile Launcher': 237,
  'Halo': 136,
  'Banana Peel': 282,
  'BAYC Flipped Brim Hat': 183,
  'Swamp Turtle': 61,
  'Sushi Chef Headband': 131,
  'BAYC Logo Hat Red': 80,
  'Fez': 271,
  'Earbuds': 177,
  'Hermit Crab': 132,
  'Bird': 219,
  'Bowler': 205,
  'BAYC Logo Hat Black': 128,
  'Spinner Hat': 115,
  'Santa Hat': 130,
  'Cowboy Hat': 269,
  'Rain Hat': 145,
  'Beanie': 384,
  'Tie': 202,
  "Trippy Captain's Hat": 51,
  "Pirate Captain's Hat": 143,
  "Sea Captain's Hat": 298,
  "Fisherman's Hat": 198,
  'Shrunken Head': 86,
  "King's Crown": 62,
  'Party Hat': 33},
 'Feet': {'Rollerblades': 180,
  'Rain Boots': 350,
  'Cast': 450,
  'Flask': 302,
  'Cyberpunk Boots': 130,
  'Old Laces': 243,
  'Fresh Laces': 236,
  'High Tops': 280,
  'Gold Kicks': 102,
  'Kicks': 236,
  'Flippers': 275,
  'Pink Combat Boots': 205,
  '80s Kicks': 93,
  'Combat Boots': 326,
  'Leg Knife': 236,
  'Boots': 368,
  'Space Boots': 139},
 'Back': {'Basketball Hoop': 235,
  'Service Vest': 430,
  'Camo Pack': 280,
  'Beer Saddle': 333,
  'Rocket Launcher': 154,
  'Fishing Lures': 174,
  'Jetpack': 200,
  'Beer Kegs': 399,
  'Doggie Pack': 148,
  'Demon Wings': 78,
  'Cyberpunk Pack': 170,
  'Blue Pack': 395,
  'Ninja Kunai': 185,
  'Mega Rocket Launcher': 118,
  'Toilet Paper Dispenser': 111,
  'Space Pack': 57}}

In [25]:
df_traits = pd.DataFrame(traits_bakc["counts"])

In [26]:
df_traits

                        Background  Fur  Neck  Mouth  Eyes  Head  Feet   Back
Outhouse                    2413.0  NaN   NaN    NaN   NaN   NaN   NaN    NaN
SS Monke Biz                2337.0  NaN   NaN    NaN   NaN   NaN   NaN    NaN
Swamp                       2426.0  NaN   NaN    NaN   NaN   NaN   NaN    NaN
Club Exterior               1640.0  NaN   NaN    NaN   NaN   NaN   NaN    NaN
Bar                          786.0  NaN   NaN    NaN   NaN   NaN   NaN    NaN
...                            ...  ...   ...    ...   ...   ...   ...    ...
Blue Pack                      NaN  NaN   NaN    NaN   NaN   NaN   NaN  395.0
Ninja Kunai                    NaN  NaN   NaN    NaN   NaN   NaN   NaN  185.0
Mega Rocket Launcher           NaN  NaN   NaN    NaN   NaN   NaN   NaN  118.0
Toilet Paper Dispenser         NaN  NaN   NaN    NaN   NaN   NaN   NaN  111.0
Space Pack                     NaN  NaN   NaN    NaN   NaN   NaN   NaN   57.0

[172 rows x 8 columns]