In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
with open('Transactions_with_traits/df_bakc_traits.json') as a, \
        open('Transactions_with_traits/df_bayc_traits.json') as b: \
        #open('Transactions_with_traits/df_mayc_traits.json') as c:
    df_bakc_t = pd.read_json(a)
    df_bayc_t = pd.read_json(b)

In [43]:
print(df_bakc_t["payment.quantity"].mean(), df_bakc_t["payment.quantity"].min(), df_bakc_t["payment.quantity"].max())
print(df_bayc_t['payment.quantity'].mean(), df_bayc_t["payment.quantity"].min() ,df_bayc_t['payment.quantity'].max())

5.875639964778469e+18 0.0 4.2e+21
4.078384526157912e+19 0.0 8e+22

In [11]:
df_bakc_t.head()

,event_type,order_hash,chain,protocol_address,closing_date,quantity,seller,buyer,transaction,event_timestamp,...,nft.is_disabled,nft.is_nsfw,payment.quantity,payment.token_address,payment.decimals,payment.symbol,payment,nft,nft.traits,rarity_score
0,sale,,ethereum,,1701388595,1,0x535e7039c7a7bb3afec86a6257c21b29700ae059,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x592896b5a2474a9239ce73ad6a091dbe12e9c764b05a...,1701388595,...,0.0,0.0,1.630000e+18,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18.0,WETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'Swamp'...",102.569353
1,sale,,ethereum,,1701387863,1,0xc88e8bb5c13eed87d47f2c0de501a9a40852f366,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x4fccb31faa23a6cb63db0ebc1eac1649c94a9f2f8a6e...,1701387863,...,0.0,0.0,1.630000e+18,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18.0,WETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'SS Mon...",63.915162
2,sale,0x3e285bb5fcba79790b67cf6c79ee4ad757aa2d316e04...,ethereum,0x00000000000000adc04c56bf30ac9d3c0aaf14dc,1701380603,1,0xbeec10ca4e095b55e6d5141a5787c4d491ab4841,0xdcae2e2f0b01e24745f0dae90c5c59eecc4fd40a,0x5ba95767d3c2e2a278a5b520ed19d36e2f4366e38f0e...,1701380603,...,0.0,0.0,1.787800e+18,0x0000000000000000000000000000000000000000,18.0,ETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'SS Mon...",189.029610
3,sale,,ethereum,,1701377891,1,0x21b97b91623b5b55fc01693450f2e1b517d730c5,0x2c2ed4b3876c442fee80bee76ce0ee2ca2a512af,0xd1113c94e97847dda3426b9f76013f778919c4ba2c51...,1701377891,...,0.0,0.0,1.630000e+18,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18.0,WETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'Club E...",225.351722
4,sale,,ethereum,,1701375743,1,0x5970d8f947a727570d180678b6195a646ed7411b,0xd15b4867e19373eed79ffe9b8a75321a34bcad4f,0x88c5bc1b6c9a97bdd27d5a215b8bd028f035cb308beb...,1701375743,...,0.0,0.0,1.630000e+18,0x0000000000000000000000000000000000000000,18.0,ETH,NaN,NaN,"[{'trait_type': 'Background', 'value': 'SS Mon...",223.270514

In [25]:
df_bakc_t.loc[:,["nft.identifier", "rarity_score", "payment.quantity"]].head()

   nft.identifier  rarity_score  payment.quantity
0          8706.0    102.569353      1.630000e+18
1          3575.0     63.915162      1.630000e+18
2          9056.0    189.029610      1.787800e+18
3          2031.0    225.351722      1.630000e+18
4          6623.0    223.270514      1.630000e+18

In [18]:
grouped = df_bakc_t.groupby('nft.metadata_url')  # print(grouped.ngroups) number of unique groups

In [41]:
grouped_mean = df_bakc_t.loc[:,['nft.metadata_url', "rarity_score", "payment.quantity"]].groupby(['nft.metadata_url']).mean()

In [42]:
correlation = grouped_mean['rarity_score'].corr(grouped_mean['payment.quantity'])
print(correlation)

0.02546769413651004

In [34]:
df_bakc_t.groupby(['nft.metadata_url'])['rarity_score'].mean()

nft.metadata_url
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/10      227.052217
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/100     364.252353
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/1002    278.177910
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/1003    196.457768
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/1004    136.351727
                                                                               ...
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/9994    222.851511
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/9995    165.900368
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/9996    268.458862
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/9997    217.791512
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/9998    206.293568
Name: rarity_score, Length: 7113, dtype: float64

In [44]:
first_transactions = df_bakc_t.groupby('nft.metadata_url').first()
last_transactions = df_bakc_t.groupby('nft.metadata_url').last()

# Calculate the return for each NFT
first_prices = first_transactions['payment.quantity']
last_prices = last_transactions['payment.quantity']
returns = ((last_prices - first_prices) / first_prices) * 100
returns_df = pd.DataFrame({'nft.metadata_url': returns.index, 'percentage_return': returns.values})

In [49]:
first_prices

nft.metadata_url
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/10      3.500000e+18
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/100     7.100000e+18
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/1002    8.000000e+18
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/1003    7.750000e+18
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/1004    5.750000e+18
                                                                                ...
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/9994    1.233300e+19
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/9995    1.640000e+18
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/9996    5.500000e+18
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/9997    3.400000e+19
https://ipfs.io/ipfs/QmTDcCdt3yb6mZitzWBmQr65AW6Wska295Dg9nbEYpSUDR/9998    3.942000e+18
Name: payment.quantity, Length: 7113, dtype: float64

In [46]:
# Display the DataFrame with the percentage_return column
returns_df
print(returns_df["percentage_return"].min(), returns_df["percentage_return"].mean(),  returns_df["percentage_return"].max())

-100.0 inf inf

In [ ]:
# Iterate over each group
for url, group in grouped:
    # Extract traits for the current NFT
    # Each group corresponds to transactions associated with a unique NFT metadata URL
    traits = extract_traits(url)

    # Assign the extracted traits to the corresponding rows in the original DataFrame
    transactions.loc[group.index, 'nft.traits'] = len(group.index) * [[traits]]